<!DOCTYPE html>
<html lang="en" ng-app="gb.FirebaseTest" ng-strict-di ng-controller="AppController as AppCtrl">
  <head>
    <title>Firebase - AngularFire Test</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    
    <base href="/" />

    <link rel='stylesheet' href='css/app.css' type='text/css'>
    <script type="text/javascript" src="bundle.js"></script>
  </head>

  <body>
    <button ng-click="AppCtrl.loginFB()">Login with Facebook</button> |
    <button ng-click="AppCtrl.emailSignup()">Signup with email</button>
    <button ng-click="AppCtrl.emailLogin()">Login with email</button> |
    <button ng-click="AppCtrl.logout()">Logout</button>
    <br>
    <a href ui-sref="index">Index</a>
    <a href ui-sref="user">User</a>
    <a href ui-sref="authData">AuthData</a>
    <a href ui-sref="messages">Messages</a>
    <a href ui-sref="board">Board</a>
    <div ui-view style="border: 1px solid black">
      <h2>Index</h2>
    </div>
  </body>
</html>
